.projects {
  min-height: 82vh;
  width: 100vw;
  display: flex;
  padding-bottom: 5vh;
}

.projects-dark {
  background-color: #424b58;
}

.projects-wrap {
  width: 70%;
  margin: 0 auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.projects-wrap > div > h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 1em;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: center;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.card {
  height: 28em;
  width: 18em;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.13);
  transition: all 0.3s ease-in-out;
}

.card-dark {
  background-color: #606875;
  color: #fff;
}

.card:hover {
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.33);
}

.top {
  position: relative;
  height: 50%;
}

.bottom {
  width: 90%;
  margin: 0 auto;
}

.bottom p {
  margin: 0;
  height: 120px;
  overflow-y: auto;
}

.bottom h1 {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.bottom ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.bottom ul li {
  margin-right: 0.8em;
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card ul a {
  color: #142664;
}
.card ul a:hover {
  color: #3053d3;
}

.darkcard-icons {
  color: #00e6b3;
}

.darkcard-icons:hover {
  color: #04ad89;
}

.icons-dark {
  color: #00e6b3;
}

@media screen and (max-width: 1292px) {
  .projects-wrap {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  .projects-wrap > div > h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .card {
    height: 23em;
    width: 13em;
  }

  .bottom h1 {
    font-size: 1em;
  }

  .bottom p {
    font-size: 0.9em;
    height: 90px;
  }

  .projects-grid {
    justify-content: center;
  }
}
