.hero {
  height: 87vh;
}

.hero-dark {
  height: 87vh;
  background-color: #424b58;
}

.hero-wrap {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 1;
}

.flex1,
.flex2 {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-img {
  /* height: 514px; */
  /* height: 514px; */
  height: 400px;
}

.img-contain {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
}

.herotext-contain {
  height: 60%;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}
.herotext-contain ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.herotext-contain ul li {
  margin-right: 1em;
}

.herotext-contain h1 {
  font-size: 4em;
  margin-bottom: 0;
}
.herotext-contain p {
  font-size: 2em;
}

.herotext-dark {
  color: #fff;
}

.icons-dark {
  color: #00e6b3;
}

.icons-dark:hover {
  color: #04ad89;
}

@media screen and (max-width: 1292px) {
  .hero-wrap {
    width: 90%;
  }
}
@media screen and (max-width: 850px) {
  .flex1 {
    flex: 2;
  }
}
@media screen and (max-width: 710px) {
  .flex2 {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .herotext-contain h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 313px) {
  .herotext-contain h1 {
    font-size: 2.5em;
  }
}

@media screen and (max-height: 545px) {
  .hero {
    height: 82vh;
  }

  .flex2 {
    display: none;
  }
}

@media screen and (max-height: 580px) {
  .hero-img {
    height: 350px;
  }
}
