$darkBg: #424b58;
$darkText: #00e6b3;
$lightText: #142664;



.about {
    min-height: 87vh;
    display: flex;
    align-items: center;
}

.about-dark {
    min-height: 87vh;
    background-color: $darkBg;
    overflow-y: auto;
    display: flex;
    align-items: center;
}

.about-wrap {
    width: 40%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(27, 26, 26);
    border-radius: 1em;
    padding: 1em;
}

.about-wrap-light {
    box-shadow: -1px 7px 27px 0px rgba(0,0,0,0.29);
    -webkit-box-shadow: -1px 7px 27px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: -1px 7px 27px 0px rgba(0,0,0,0.29);
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.message-container {
    display: flex;

    .left-text, .right-text {
        flex: 1;
        margin: 1em 0;
    }

    .right-text {
        flex: 2;
    }

    .right-text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    span {
        display: block;
        height: 200px;
        width: 200px;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 0.5em solid $darkText;
        padding: 0.5em;
    }


    h2 {
        color: $darkText;
        font-size: 4em;
        margin: 0;
    }

    h1 {
        font-size: 4em;
        margin: 0em 0;
    }

    h1, p {
        color: #f1f1f1;
    }

    strong {
        color: #dd446b;
        font-size: 1.5em;
    }

    img {
        height: 200px;
        border-radius: 100%;
    }
}



.lightmode-text {
    color: $lightText
}

strong {
    color: #dd446b;
}

.me-paragraph {
    color: #f1f1f1;

    p {
        margin-top: 0;
    }

    h2 {
        margin-bottom: 0.2em;
    }

    img {
        height: 70px;
        margin-right: 2em;
    }
}

.tech-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    justify-content: center;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

@media screen and (max-width: 1719px) {
    .about-wrap {
        width: 50%;
    }
}

@media screen and (max-width: 1378px) {
    .about-wrap {
        width: 60%;
    }
}

@media screen and (max-width: 1136px) {
    .about-wrap {
        width: 70%;
    }
}

@media screen and (max-width: 852px) {
    .about-wrap {
        width: 80%;
    }
}


  @media screen and (max-width: 770px) {
    .message-container {
        display: block;

        .right-text {
            align-items: flex-start;
        }
    }

    .me-paragraph {
        h2 {
            margin-top: 0;
        }
    }

    .about-wrap {
        background-color: transparent;
    }

    .about-wrap-light {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }

    .tech-images {
        grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
        justify-content: flex-start;
    }
}
  
  @media screen and (max-width: 500px) {
    .message-container {
        h1, h2 {
            font-size: 2.5em;
        }

        img {
            height: 180px;
        }

        span {
            height: 180px;
            width: 180px;
        }
    }
}
  @media screen and (max-width: 313px) {

}
  
  @media screen and (max-height: 545px) {

}
  
  @media screen and (max-height: 580px) {
    
}