$darkBg: #424b58;
$darkText: #00e6b3;

.about {
    height: 87vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    background-color: $darkBg;
}
  
.about-dark {
    height: 87vh;
    background-color: $darkBg;
    overflow-y: auto;
}

.about-wrap {
    width: 70%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: blue;
}

.message-container {
    width: 80%;
    height: 90%;
    display: flex;
    // background-color: blueviolet;

    .left-text, .right-text {
        flex: 1;
    }

    span {
        display: block;
        height: 200px;
        width: 200px;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 0.5em solid $darkText;
        padding: 0.5em;
    }

    h2 {
        color: $darkText;
        // margin-top: 2em;
        font-size: 3em;
    }

    h1, h2 {
        font-size: 4em;
        margin: 0.3em 0;
    }

    h1, p {
        color: #f1f1f1;
    }

    strong {
        color: #dd446b;
        font-size: 1.5em;
    }

    img {
        height: 200px;
        border-radius: 100%;
    }
}