.contactform {
  height: 87vh;
}

.contactform-dark {
  background-color: #424b58;
}

.contactform-wrapper {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactform-wrapper form {
  height: 25em;
  width: 30em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.17);
  transition: all 0.3s ease-in-out;
}
.contactform-wrapper form:hover {
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.37);
}

form input {
  margin: 1em 0;
  padding: 0.5em;
}

.contactform-wrapper form div h1 {
  text-align: center;
}

.name {
  width: 80%;
  margin: 0 auto;
}

#name {
  width: 100%;
}

.email {
  width: 80%;
  margin: 0 auto;
}

#email {
  width: 100%;
}

.message {
  width: 80%;
  margin: 0 auto;
}

#message {
  width: 100%;
}

form textarea {
  margin: 1em 0;
  padding: 0 0.5em;
}

.submit h1 {
  margin: 0;
}

.submit {
  position: absolute;
  background-color: rgb(216, 211, 211);
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border: 0;
  bottom: 0;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.3s ease-in-out;
}
.submit:hover {
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.17);
}

.form-dark {
  background-color: #606875;
}

.input-dark {
  background-color: transparent;
  border: 1px solid white;
  color: white;
}
.input-dark::placeholder {
  color: white;
}

.submit-dark {
  /* background-color: #616161; */
  /* background-color: #9b9898; */
  background-color: #02a884;
}
.submit-dark:hover {
  -webkit-box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 5px 8px 0px rgba(0, 0, 0, 0.17);
}
